html {
    scroll-behavior: smooth;
}

body {
    font-family: $gordita-regular;
    background: $background;
    color: $white;
}

:root {
    font-size: 20px;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


.up__button {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #333;
    bottom: 40px;
    right: 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: $white;
    opacity: 0;
    transition: opacity 1s;
    @media (max-width: $breakpoint-tablet) {
        display: none;
    }

}

.active {
    overflow: hidden;
}

.color1 {
    background-color: #000;
}

.color2 {
    background-color: #c6c4c2;
}

.color3 {
    background-color: #d39f4f;
}

.color4 {
    background-color: #8d6427;
}

.color5 {
    background-color: #ea3226;
}

.color6 {
    background-color: #8dd81d;
}

.color7 {
    background-color: #fff;
}

.color8 {
    background-color: #710159;
}

.color9 {
    background-color: #fa7943;
}

.color10 {
    background-color: #fef103;
}

.color11 {
    background-color: #30a2ff;
}

.zoom {
    animation:animatezoom 0.6s
}