
// *****************
// Color Variables
// *****************
$white: #fafafa;
$black: #000;
$lightblack: #1f1f1f;
$lightgray: #dedede;
$gray: #6b6b6b;
$background: linear-gradient(to right, #060a0c, #00273e, #060a0c);
$introbtn: #03548e;



// *****************
// BREAKPOINTS
// *****************
$breakpoint-desktop: 1550px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 420px;

// }

// *****************
// Fonts
// *****************
$gordita-regular: 'Gordita Regular', sans-serif;
$gordita-medium: 'Gordita Medium', sans-serif;